<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Willkommen in Ihrem Dashboard, {{ current_user.first_name }} {{ current_user.last_name }}!</h1>

    <!-- Button zum Erstellen eines Formulars -->
    <a href="{{ url_for('forms.create_form') }}">
        <button type="button">Erstelle einen Formular</button>
    </a>

    <!-- Button zum Anzeigen der erstellten Formulare -->
    <a href="{{ url_for('main.view_forms') }}">
        <button type="button">Meine Anträge</button>
    </a>

    {% if forms %}
        <h2>Meine Anträge</h2>
        <ul>
            {% for form in forms %}
                <li>
                    <strong>{{ form.title }}</strong><br>
                    {{ form.description }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Es wurden noch keine Formulare erstellt.</p>
    {% endif %}

    <a href="{{ url_for('auth.logout') }}">Logout</a>
</body>
</html>
